@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* reset applied */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* reset */
body {
  height: 100vh;
  display: block;
  background: black;
  font-family: 'Rock Salt', cursive;
}

#title {
    text-align: center;
    color: azure;
    size: 1em;
    transition: 5s;
}

#button{
    padding: .5em;
    background-color: blueviolet;
    font-size: large;
}
 /*Style the hover over button */
#button:hover {
  background-color: hotpink;
}

.score {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 10px 0;
    padding:1.5em;
}

body::after {
  content: '';
  background: url('/assets/img/design.png');
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


/* Style the button and place it at the lower end of the container/image */
.container .button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(245, 140, 3);
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/* Style the hover over button */
.container .button:hover {
  background-color: hotpink;
}
/* Style the gameboard*/ 
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.3em;
  transform: perspective(1000%);
}

/* Style the footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}


@media (max-width: 575.98px) {



.buttons{
    padding: .2em;
    background-color: blueviolet;
    font-size: small;
}
 /*Style the hover over button */
.buttons:hover {
  background-color: hotpink;
}

.score {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 10px 0;
}
}
/*
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
*/