@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* reset applied */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* reset */
body {
  height: 100vh;
  display: block;
  background: black;
  font-family: 'Rock Salt', cursive;
}

#title {
    text-align: center;
    color: azure;
    padding: 20px;
    font-size: 80px;
    transition: 3s;
}

.wrapper {
    text-align: center;
}

.buttons{
    padding: 10px;
    align-items: center;
    position: relative;
    color: azure;
    background-color: rgb(67, 214, 37);
    border: yellowgreen;
    font-size: x-large;
}
 /*Style the hover over button */
.buttons:hover {
  background-color: hotpink;
}

.score {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 10px 0;
    padding:1.5em;
}

body::after {
  content: '';
  background: url('/assets/img/design.png');
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
/* Style the gameboard*/ 
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.3em;
  transform: perspective(1000%);
}

/* Style the footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}
@media (max-width: 575.98px) {

#title {
    text-align: center;
    color: azure;
    font-size: 50px;
    transition: 1s;
}

.wrapper {
    text-align: center;
}

.buttons{
    size: 10px;
    align-items: center;
    position: relative;
    color: azure;
    background-color: rgb(67, 214, 37);
    border: yellowgreen;
    font-size: small;
}
 /*Style the hover over button */
.buttons:hover {
  background-color: hotpink;
}

.score {
    text-align: center;
    color: rgb(255, 255, 255);
  
}

/* Style the gameboard*/ 
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.1em;
  transform: perspective(1000%);
}


/*
 Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
*/
}